div{
    border : 1px solid black;
}
#line{
    display:flex;
    flex: 1 1;
    align-items: stretch;
    flex-direction: column;
}
#box{
    flex: 1 1;
    min-height: 50px;
}

#container{
    display: flex;
    flex : auto;
}

.hovered{
    background:black;
}
