*{
    background : gray;
}

#container{
    height: 1000px;
    width: 1000px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

div{
    border : 1px solid black;
}
#line{
    display:flex;
    flex: 1 1;
    align-items: stretch;
}
#box{
    flex: 1 1;
}

.hovered{
    background:black;
}

button{
    display : flex;
    align-items:  center;
}