*{
    background : gray;
}

div{
    border : 1px solid black;
}
#line{
    display:flex;
    flex: 1 1;
    align-items: stretch;
}
#box{
    flex: 1 1;
    width: 50px;
    min-height: 50px;
}

.hovered{
    background:black;
}

button{
    display : flex;
    align-items:  center;
}